@{
    ViewData["Title"] = "Temp";
}

<h3>Temp Page</h3>


<p bold>Use this area to provide additional information.</p>

<bold> Is this bold?</bold>


<div>
    <h3>Information about our website (outdated):</h3>
    <Website-InforMation info=Model />
    <div condition="Model.Approved">
        <p>
            This website has <strong surround="em"> @Model.Approved </strong> been approved yet.
            Visit www.contoso.com for more information.
        </p>
    </div>
</div>


<p www>Visit us at http://docs.asp.net or at www.microsoft.com</p>