@{
    ViewData["Title"] = "Temp";
}

@{
    var inCSharp = true;
    // 隐式输出 HTML 内容
    // 如果没有 <p> 标签，Razor 会报错
    <p>Now in HTML, was in C# @inCSharp</p>
}

<ul>
    @for (int i = 0; i < 3; i++)
    {
        var item = i + ",";
        // 由于没有 HTML 标签包裹时，无法在块中输出内容
        // 所以此处使用 <text> 进行显式包裹
        // 此方法法适用于输出纯文本到页面上
        <text>@item</text>
    }
</ul>

<dl>
    @for (int i = 0; i < 3; i++)
    {
        // @: 后面的内容都当作 HTML 进行输出
        var item = i + "-item";
        @:<dt>@item</dt>
    }
</dl>

<dl>
    @for (int i = 0; i < 3; i++)
    {
        // 使用 Html.Raw
        // 由于  Html.Raw 返回的是 IHtmlContent
        // 所以需要在签名显示添加 @，让 Razor 进行输出（不需要末尾的 ;）
        var item = i + "-item";
        @Html.Raw("<dt>"+item+"</dt>")
    }
</dl>

